{{#each this}}
  <div class='card__item'>
    <img src='{{flags.svg}}' alt='{{name.official}}' width='50' />
    <h2>{{name.official}}</h2>
    <p><b>Capital: </b>{{capital}}</p>
    <p><b>Population: </b>{{population}}</p>
    <p><b>Languages: </b>{{#each languages}}{{this}} {{/each}}</p>
  </div>
{{/each}}